<header class="navbar navbar-light  bg-light navbar-fixed-top shadow p-1 mb-3 rounded">
    <div class="container">
        <%= image_tag("mujin.png", alt:"icon", size: "40x27", id: "icon") %>
        <%= link_to "ARUЯA", "#", id: "logo" %>
        <nav>
            <ul class="nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                楽しみ👩🏻‍🌾❗️
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">🎈プロモーション</a></li>
                <li><a class="dropdown-item" href="#">🐲イベント</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">その他情報⛩</a></li>
                </ul>
            </li>
            </ul>
        </nav>
    </div>
</header>